/*
 * Copyright (c) 2025, Jamie M.
 *
 * All right reserved. This code is NOT apache or FOSS/copyleft licensed.
 */

/delete-node/ &cpuflpr_rram;

&rram_controller {
	cpuflpr_rram: rram@1000 {
		compatible = "soc-nv-flash";
		reg = <0x1000 0x18000>;
		erase-block-size = <0x1000>;
		write-block-size = <0x10>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <0x1>;
			#size-cells = <0x1>;

			cpuflpr_code_partition: partition@0 {
				label = "image-0";
				reg = <0x0 0x18000>;
			};
		};
	};
};
