#
# Copyright (c) 2025, Jamie M.
#
# All right reserved. This code is NOT apache or FOSS/copyleft licensed.
#

config IPC_SETTINGS_SERVER
	bool "IPC settings server"
	imply ZMS
	imply ZMS_LOOKUP_CACHE
	imply ZMS_DATA_CRC
	imply ZMS_NO_DOUBLE_WRITE
	select SETTINGS
	imply SETTINGS_RUNTIME
	imply SETTINGS_ZMS_LL_CACHE
	select FLASH
	select FLASH_MAP

config IPC_SETTINGS_CLIENT
	bool "IPC settings client"
	select SETTINGS
	imply SETTINGS_RUNTIME

source "Kconfig.zephyr"
