#
# Copyright (c) 2025, Jamie M.
#
# All right reserved. This code is NOT apache or FOSS/copyleft licensed.
#

config IPC_SETTINGS_SERVER
	bool "IPC settings server"
	imply ZMS
	imply ZMS_LOOKUP_CACHE
	imply ZMS_DATA_CRC
	imply ZMS_NO_DOUBLE_WRITE
	select SETTINGS
	imply SETTINGS_RUNTIME
	imply SETTINGS_ZMS_LL_CACHE
	select FLASH
	select FLASH_MAP

config IPC_SETTINGS_CLIENT
	bool "IPC settings client"
	select SETTINGS
	imply SETTINGS_RUNTIME

config IPC_LORAWAN_CRYPTO_SERVER
	bool "IPC LoRaWAN crypto server"

if IPC_SETTINGS_CLIENT

choice SETTINGS_BACKEND
        prompt "Storage back-end"
        default SETTINGS_IPC

config SETTINGS_IPC
        bool "IPC"
        help
          Use IPC as settings storage backend.

endchoice

endif # IPC_SETTINGS_CLIENT

if LORAWAN

choice LORAWAN_NVM
        prompt "LoRaWAN NVM backend"
        default LORAWAN_NVM_IPC_SETTINGS if IPC_SETTINGS_CLIENT

config LORAWAN_NVM_IPC_SETTINGS
        bool "IPC settings based NVM"
        depends on IPC_SETTINGS_CLIENT

endchoice

config IPC_LORAWAN_CRYPTO_CLIENT
	bool "IPC LoRaWAN crypto client"
	select LORAWAN_BELL_IPC_CRYPTO_CLIENT

config LORAWAN_BELL_IPC_CRYPTO_CLIENT
	bool "LoRaWAN IPC secure enclare backend"

endif # LORAWAN

source "Kconfig.zephyr"
